In [20]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

def process_heart_rate_data(folder_path):
    """
    Process heart rate data from the given folder path and plot the data.

    Parameters:
    - folder_path: Path to the folder containing heart rate data files.

    Returns:
    - DataFrame containing heart rate data.
    """
    # Get column names and process heart rate data
    column_names = []
    dfs = []

    # Extract column names and process heart rate data
    for filename in os.listdir(folder_path):
        file_path = os.path.join(folder_path, filename)
        if filename.endswith('.CSV'):  # Check if file is a CSV file
            date = filename.split('_')[2]  # Extract date from file name
            column_names.append(date)  # Append the extracted date to the list
            heart_rate_data = pd.read_csv(file_path)
            heart_rate_data = heart_rate_data['Date']
            heart_rate_data = heart_rate_data[2:]
            heart_rate_data.index.name = 'Time (seconds)'
            heart_rate_data.index = heart_rate_data.index * 2
            dfs.append(heart_rate_data)

    # Concatenate all processed data frames into a single table
    heart_rate_table = pd.concat(dfs, axis=1)
    heart_rate_table.columns = [f"Heart Rate (bpm) {date}" for date in column_names]

    # Convert data to float and replace 0 with NaN
    for column in heart_rate_table.columns:
        heart_rate_table[column] = heart_rate_table[column].astype(float)
        heart_rate_table[column] = heart_rate_table[column].replace(0, np.nan)

    return heart_rate_table

In [21]:
# Example usage:
# Ben's heart rate data folder
ben_folder_path = '/Users/ben_nicholson/Visual_Code_Projects/Personal_Projects/Ben_Nicholson_Heart_Rate/ben_heart'
ben_heart_rate_table = process_heart_rate_data(ben_folder_path)
ben_heart_rate_table

,Heart Rate (bpm) 2024-01-28,Heart Rate (bpm) 2024-01-26,Heart Rate (bpm) 2024-01-27,Heart Rate (bpm) 2024-01-23
Time (seconds),,,,
4,154.0,104.0,124.0,88.0
6,154.0,107.0,124.0,89.0
8,154.0,111.0,124.0,93.0
10,154.0,112.0,124.0,94.0
12,154.0,111.0,123.0,92.0
...,...,...,...,...
4486,NaN,NaN,170.0,NaN
4488,NaN,NaN,170.0,NaN
4490,NaN,NaN,170.0,NaN
4492,NaN,NaN,170.0,NaN
4494,NaN,NaN,169.0,NaN

In [17]:
# Nev's heart rate data folder
nev_folder_path = '/Users/ben_nicholson/Visual_Code_Projects/Personal_Projects/Ben_Nicholson_Heart_Rate/nev_heart'
nev_heart_rate_table = process_heart_rate_data(nev_folder_path)
nev_heart_rate_table

,Heart Rate (bpm) 2024-01-26,Heart Rate (bpm) 2024-01-27,Heart Rate (bpm) 2024-01-23,Heart Rate (bpm) 2024-01-28
Time (seconds),,,,
4,118.0,112.0,95.0,172.0
6,109.0,112.0,95.0,172.0
8,104.0,112.0,98.0,172.0
10,104.0,112.0,98.0,172.0
12,102.0,112.0,102.0,171.0
...,...,...,...,...
4486,NaN,175.0,NaN,NaN
4488,NaN,175.0,NaN,NaN
4490,NaN,174.0,NaN,NaN
4492,NaN,172.0,NaN,NaN
4494,NaN,172.0,NaN,NaN